* {
	width: auto;
	height: auto;
	align-items: center;
	justify-content: center;
	font-family: "Poppins", sans-serif;
  	font-weight: 300;
  	font-style: normal;
}

body {
	background-image: url('impp.jpg');
	background-size: 100% 120%;
	background-repeat: no-repeat;
}

#header {
	position: relative;
	top:-30px;
	line-height: 1.8;
	font-weight: bold;
	font-size: 50px;
	padding: 20px;
	margin-inline: auto;
	background-color: #597BA7;
	width: auto;
	height:80px;
	text-shadow: 1px 1px 2px white;
}


.container {
	position: relative;
	top: -30px;
	border: 1px solid black;
	max-width: 1100px;
	height: 650px;
	margin-inline: auto;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.23);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.6px);
	-webkit-backdrop-filter: blur(8.6px);
	box-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px black;
}

#login-img {
	position: fixed;
	left: 100px;
	top: 100px;
	width: 400px;
	height: 400px;
}

.form-container {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 500px;
	height: 650px;
	background: rgba(0, 0, 0, 0.53);
	border-radius: 0px 15px 15px 0px;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

form {
	position: relative;
	top: 180px;
}


.center-input {
	text-align: center;
}

.center-input::placeholder {
	text-align: center;
}

#in1 {
	position: absolute;
	right: 230px;
	top: 5px;
	font-size: 20px;
	color: white;
}

#in2 {
	position: absolute;
	right: 210px;
	bottom: 40px;
	font-size: 20px;
	color: white;
}

#in-input1 {
	min-width: 400px;
	position: absolute;
	right: 50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 10px;
}

#in-input2 {
	min-width: 400px;
	position: absolute;
	right: 50px;
	bottom: -20px;
	height: 50px;
	border: 1px solid black;
	border-radius: 10px;
}

#remember-me {
	position: absolute;
	right: 410px;
	bottom: -80px;
	width: 20px;
	height: 20px;
}

#remember-me-label {
	position: absolute;
	right: 300px;
	bottom: -77px;
	color: white;
}

#forgot {
	position: absolute;
	right: 100px;
	bottom: -77px;
	text-decoration: none;
	color: white;

}

#forgot:hover {
	color: red;
	transition: .5s ease-in-out;
}

#login-btn {
	position: absolute;
	right: 290px;
	bottom: -200px;
	min-width: 120px;
	height: 50px;
	border: 1px solid black;
	border-radius: 5px;
}

#signup-btn {
	position: absolute;
	right: 100px;
	bottom: -200px;
	min-width: 120px;
	height: 50px;
	border: 1px solid black;
	border-radius: 5px;
}

#signup-btn a {
	position: absolute;
	text-decoration: none;
	color: black;
	left: 0px;
	bottom: 0px;
	min-width: 117px;
	line-height: 3.5;
	height: 46px;
}

#hello {
	position: absolute;
	top: -200px;
	right: 350px;
	font-size: 50px;
	color: white;
}

#welcome {
	position: absolute;
	top: -150px;
	right: 70px;
	font-size: 70px;
	font-weight: 600;
	text-shadow: 1px 1px 2px #333, 0 0 25px black, 0 0 5px black;
	color: white;
}

#login-btn:hover {
	background-color: #7EDBE7;
	transition: .5s ease-in-out;
	border: 1px solid white;
	scale: 1.2;
	cursor: pointer;
}


#signup-btn:hover {
	background-color: #ED9999;
	transition: .5s ease-in-out;
	border: 1px solid white;
	scale: 1.2;
}

@media only screen and (max-width: 1920px) {
	  body {
    width: auto;
 	margin-inline: auto;
  }

  .container {
  	max-width: 1100px;
  	margin-inline: auto;
  }

  #login-img {
  	position: absolute;
  	top: 160px;
  	left: 80px;
  	width: 400px;
  	height: 400px;
  }

}

@media only screen and (max-width: 1200px) {
  body {
    width: auto;
 	margin-inline: auto;
  }

  .container {
  	max-width: 1100px;
  	margin-inline: auto;
  }

  #login-img {
  	position: absolute;
  	top: 160px;
  	left: 80px;
  	width: 400px;
  	height: 400px;
  }

}

@media only screen and (max-width: 1100px) {
  body {
    width: auto;
 	margin-inline: auto;
  }

  .container {
  	max-width: 1000px;
  	margin-inline: auto;
  }

  #login-img {
  	position: absolute;
  	top: 160px;
  	left: 40px;
  	width: 400px;
  	height: 400px;
  }


}


@media only screen and (max-width: 950px) {
  body {
    width: auto;
 	margin-inline: auto;
  }

  .container {
  	max-width: 800px;
  	margin-inline: auto;
  }

  #login-img {
  	position: absolute;
  	top: 200px;
  	left: 60px;
  	width: 200px;
  	height: 200px;
  	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
  }
  
  #in1 {
  	position: absolute;
  	left: 220px;
  }

  #in-input1 {
  	position: absolute;
  	left: 50px;
  	max-width: 500px;
  }

  #in2 {
  	position: absolute;
  	left: 200px;
  }

   #in-input2 {
  	position: absolute;
  	left: 50px;
  	max-width: 500px;
  }

  #remember-me {
  	position: absolute;
  	left: 80px;
  }
  
  #remember-me-label {
  	position: absolute;
  	left: 120px;
  	white-space: nowrap;
  }

  #forgot {
  	position: absolute;
  	right: 80px;
  }

  #login-btn {
  	position: absolute;
  	left: 100px;
  }

  #signup-btn {
  	position: absolute;
  	right: 100px;
  }

  #hello {
  	position: absolute;
  	left:30px;
  }

  #welcome {
  	position: absolute;
  	left: 80px;
  }
}

@media only screen and (max-width: 700px) {
  body {
    width: auto;
 	margin-inline: auto;
  }

  .container {
  	max-width: 500px;
  	margin-inline: auto;
  }

.form-container{
	position: absolute;
	height: 650px;
	top: 0px;
	border-radius: 16px;
}

  #login-img {
  	display: none;
  }
  
  #in1 {
  	position: absolute;	
  	top: 8px;
  }

  #in-input1 {
  	position: absolute;
  	top: 40px;
  	left: 50px;
  }

  #in2 {
  	position: absolute;
  	top: 110px;
  }

  #in-input2 {
  	position: absolute;
  	top: 140px;
  	left: 50px;
  }

  #remember-me {
  	position: absolute;
  	top: 227px;
  	left: 80px;
  }

  #remember-me-label {
  	position: absolute;
  	top: 230px;
  	left: 110px;
  	white-space: nowrap;
  }

  #forgot {
  	position: absolute;
  	top: 230px;
  	left: 280px;
  	white-space: nowrap;
  }

  #login-btn {
  	position: absolute;
  	top: 300px;
  	left: 110px;
  }

  #signup-btn {
  	position: absolute;
  	width: 117px;
  	top: 300px;
  	left: 273px;
  }

  #signup-btn a {
	position: absolute;
	text-decoration: none;
	color: black;
	left: 0px;
	bottom: 0px;
	min-width: 117px;
	line-height: 3.5;
	height: 46px;
}


  #hello {
  	position: absolute;
  	top: -190px;
  	color: white;
  }

  #welcome {
  	position: absolute;
  	top: -150px;
  }
}

@media only screen and (max-width: 500px) {
  body {
    width: auto;
 	margin-inline: auto;
  }

  #header {
  	font-size: 35px;
  	height: 40px;
  	line-height: 1.3;
  }

  .container {
  	max-width: 450px;
  	height: 500px;
  	margin-inline: auto;
  }

  .form-container {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: auto;
  	height: 500px;
  	border-radius: 16px;
  	border:none;
  	align-items: center;
  }

  #login-img {
  	display: none;
  }

  #hello {
  	position: absolute;
  	left: 45px;
  	top: -170px;
  	font-size: 30px;
  }

  #welcome{
  	position: absolute;
  	top: -140px;
  	left: -20px;
  	font-size: 40px;
  }
  
 #in1 {
 	position: absolute;
 	top: -50px;
 	color: black;
 	left: 200px;
 }

 #in-input1 {
 	position: absolute;
 	top: -20px;
 	left: 45px;
 	min-width: 20px;
 }

 #in2 {
 	position: absolute;
 	top: 45px;
 	color: black;
 	left: 180px;
 }

 #in-input2 {
 	position: absolute;
 	top: 75px;
 	left: 45px;
 	min-width: 20px;
 }

 #remember-me {
 	position: absolute;
 	top: 150px;
 	left: 70px;
 }

 #remember-me-label {
 	position: absolute;
 	top: 155px;
 	left: 100px;
 }

 #forgot {
 	position: absolute;
 	top: 155px;
 	left: 250px;
 	font-size: 3vw;
 }

 #login-btn {
 	position: absolute;
 	top: 200px;
 	left: 90px;
 	min-width: 117px;
 }

  #signup-btn {
 	position: absolute;
 	top: 200px;
 	min-width: 117px;
 	left: 240px;
 }

  #signup-btn a {
	position: absolute;
	text-decoration: none;
	color: black;
	left: 0px;
	bottom: 0px;
	min-width: 114px;
	line-height: 3.5;
	height: 46px;
}

}

@media only screen and (max-width: 390px) {
  body {
    width: auto;
 	margin-inline: auto;
  }

  #header {
  	font-size: 30px;
  	height: 40px;
  }

  .container {
  	max-width: 350px;
  	height: 550px;
  	margin-inline: auto;
  }

  .form-container {
  	position: absolute;
  	top: 0px;
  	height: 550px;
  	width: auto;
  }

  #login-img {
  	display: none;
  }

  #hello {
  	position: absolute;
  	top: -180px;
  	left: 40px;
  	font-size: 30px;
  }

  #welcome{
  	position: absolute;
  	top: -150px;
  	left: 80px;
  	font-size: 40px;
  }
  
 #in1 {
 	position: absolute;
 	top: -60px;
 	color: white;
 	left: 140px;
 }

 #in-input1 {
 	position: absolute;
 	top: -30px;
 	left: 45px;
 	min-width: 20px;
 }

 #in2 {
 	position: absolute;
 	top: 35px;
 	color: white;
 	left: 120px;
 }

 #in-input2 {
 	position: absolute;
 	top: 65px;
 	left: 45px;
 	min-width: 20px;
 }

 #remember-me {
 	position: absolute;
 	top: 135px;
 	left: 50px;
 	width: 15spx;
 	height: 15px;
 }

 #remember-me-label {
 	position: absolute;
 	top: 139px;
 	left: 75px;
 	font-size: 3vw;
 }

 #forgot {
 	position: absolute;
 	top: 139px;
 	left: 190px;
 	font-size: 3vw;
 }

 #login-btn  {
 	position: absolute;
 	top: 190px;
 	left: 48px; 
 	min-width: 117px;
 	height: 50px;
 }

 #signup-btn {
 	position: absolute;
 	top: 190px;
 	min-width: 117px;
 	height: 50px;
 	left: 170px;
 }

  #signup-btn a {
	position: absolute;
	text-decoration: none;
	color: black;
	left: 0px;
	bottom: 0px;
	min-width: 114px;
	line-height: 3.5;
	height: 50px;
}



}