* {
	width: auto;
	height: auto;
	align-items: center;
	justify-content: center;
	font-family: "Poppins", sans-serif;
  	font-weight: 300;
  	font-style: normal;
}

body {
	background-image: url('impp.jpg');
	background-size: 100% 120%;
	background-repeat: no-repeat;
}

#header {
	position: relative;
	top:-30px;
	line-height: 1.1;
	font-weight: bold;
	font-size: 50px;
	padding: 20px;
	margin-inline: auto;
	background-color: #597BA7;
	width: auto;
	height:60px;
	text-shadow: 1px 1px 2px white;
}

.container {
	position: relative;
	top: -30px;
	border: 1px solid black;
	max-width: 1500px;
	height: 750px;
	margin-inline: auto;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.23);
	border-radius: 16px;
	backdrop-filter: blur(8.6px);
	-webkit-backdrop-filter: blur(8.6px);
}


.navbar {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 90px;
	border-radius: 16px 16px 0px 0px;
	background-color: #597BA7;
	border: 1px solid black;
}

.navbar li {
	position: relative;
	right: -1000px;
	list-style-type: none;
	display: inline;
	padding: 15px;
}

.navbar a { 
	text-decoration: none;
	line-height: 5.5;
	color: white;
}

h3 {
	position: absolute;
	top: 200px;
	left: 300px;
	font-weight: 400;
	font-size: 50px;
}

.greet {
	position: absolute;
	top: 270px;
	left: 450px;
	font-weight: 400;
	font-size: 50px;
}



.form-container {
	position: absolute;
	top: 92px;
	left: 0px;
	width: 50%;
	height: 660px;
	background: rgba(0, 0, 0, 0.53);
	border-radius: 0px 0px 0px 15px;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.img-container {
	position: absolute;
	left: 90px;
	top: 35px;
	max-width: 100%;
	width: 180px;
	height: 150px;
	background-color: white;
	border: 1px solid black;
	display: flex;
}

#preview {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

input[type=file] {
	position: absolute;
	left: 90px;
	top: 190px;
	border-radius: 0px;
	max-width: 100%;
	width: 170px;
	height: auto;
	color: #444;
	padding: 5px;
	background: #fff;
	border: 1px solid black;
	margin-bottom: 10px;
}


.center-input {
	text-align: center;
}

.center-input::placeholder {
	text-align: center;
}
/*--------------------------------------------------------------------*/
label {
	color: white;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
     margin: 0; 
}

input {
	width: 400px;
	height: 50px;
	border-radius: 10px;
}

#fname {
	position: absolute;
	top: 50px;
	left: 330px;
}

#fname-label {
	position: absolute;
	top: 30px;
	left: 500px;
}

#contact {
	position: absolute;
	top: 150px;
	left: 330px;
}

#contact-label {
	position: absolute;
	top: 130px;
	left: 500px;
}

#bday {
	position: absolute;
	top: 270px;
	left: 80px;
	width: 300px;
}

#bday-label {
	position: absolute;
	top: 245px;
	left: 190px;
}

#gender-label {
	position: absolute;
	top: 245px;
	left: 550px;
}

select {
	position: absolute;
	top: 270px;
	width: 300px;
	display: block;
	height: 53px;
	left: 430px;
	padding: .375rem 2.25rem .375rem .75rem;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 16px 12px;
	border: 1px solid black;
	border-radius: 10px;
	-webkit-appearance: none;
	appearance: none;
	text-align: center;
}

#loc-label {
	position: absolute;
	top: 340px;
	left: 190px;
}

#location {
	position: absolute;
	top: 370px;
	left: 80px;
	width: 300px;
}


#email {
	position: absolute;
	width: 300px;
	top: 370px;
	left: 430px;
}
#email-label {
	position: absolute;
	top: 343px;
	left: 530px;
}
#pass {
	position: absolute;
	top: 470px;
	left: 193px;
}

#pass-label {
	position: absolute;
	top: 450px;
	left: 355px;
}


#login-btn {
	position: absolute;
	right: 250px;
	top: 550px;
	min-width: 120px;
	height: 50px;
	border: 1px solid black;
	border-radius: 5px;
}

#signup-btn {
	position: absolute;
	left: 250px;
	top: 550px;
	min-width: 120px;
	height: 50px;
	border: 1px solid black;
	border-radius: 5px;
}


#login-btn:hover {
	background-color: #7EDBE7;
	transition: .5s ease-in-out;
	border: 1px solid white;
	scale: 1.2;
	cursor: pointer;
}


#signup-btn:hover {
	background-color: #ED9999;
	transition: .5s ease-in-out;
	border: 1px solid white;
	scale: 1.2;
}

